body {
    background-image: url(/static/img/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}


/*输入框动态*/

:root {
    --form-group-input-padding: .75rem;
}

.form-group {
    position: relative;
}

.form-group>input {
    padding: var(--form-group-input-padding);
}

.form-group>label {
    padding: var(--form-group-input-padding);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-group input:not(:placeholder-shown) {
    padding-top: calc(var(--form-group-input-padding) + var(--form-group-input-padding) * (2 / 3));
    padding-bottom: calc(var(--form-group-input-padding) / 3);
}

.form-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--form-group-input-padding) / 3);
    padding-bottom: calc(var(--form-group-input-padding) / 3);
    font-size: 12px;
    color: #777;
}


/*导航栏*/

.navbar {
    box-shadow: 0px 0px 8px black;
    background-color: rgba(10, 10, 0, 0.7)
}

.navbar-brand {
    text-shadow: #FF0000 0 0 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0rem;
    padding-top: 0rem;
}