{% extends "base.html" %}
{% block head %}
<link href="/static/css/addtrain.css" rel="stylesheet">
<script src="/static/js/addtrain.js"></script>
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}{ 
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
<script>
$(document).ready(function(){
    console.log("init")
    $('#ticketButton').click(function () {
        console.log("ok");
        $('#ticketTable').bootstrapTable('insertRow', {index: 1, row: {type : "<input type=\"text\" class=\"form-control\" name=\"type[]\">"}});
    });
    $('#trainButton').click(function () {
        console.log("ok");
        $('#trainTable').bootstrapTable('insertRow', {index: 1, row: {loc1 : "<input type=\"text\" class=\"form-control\" name=\"loc1[]\">",
                                                                      time1: "<input type=\"time\" name=\"time1[]\">",
                                                                      time2: "<input type=\"time\" name=\"time2[]\">",
                                                                      time3: "<input type=\"time\" name=\"time3[]\">",
                                                                      price: "<input type=\"text\" class=\"form-control\" name=\"price[]\">"}});
    });
})

</script>
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">
    <div class="container" style="margin-top: 6rem">
        <div class="box-transparent py-4 px-4">
            <form action="" method="POST">
                {{ csrf_input }}
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" name="trainId" class="form-control"
                                placeholder="Train Id" id="trainId" required>
                            <label for="trainId">Train Id</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control"
                                placeholder="Train Name" id="name" required>
                            <label for="name">Train Name</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <select name="catalog" class="selectpicker" multiple data-actions-box="true" title="Choose train types" data-width="100%" id="catalog">
                                <option>C</option>
                                <option>D</option>
                                <option>G</option>
                                <option>K</option>
                                <option>O</option>
                                <option>T</option>
                                <option>Z</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table id="ticketTable" class="display table table-hover" data-toggle="table" data-striped="true"
                            data-side-pagination="client" data-mobile-responsive="true">
                            <thead>
                                <tr>
                                    <th data-field="type" data-align="center">票种</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="type[]"></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" id="ticketButton" class="btn btn-md btn-primary my-2">添加行</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table id="trainTable" class="display table table-hover" data-toggle="table" data-striped="true"
                            data-side-pagination="client" data-mobile-responsive="true">
                            <thead>
                                <tr>
                                    <th data-field="loc1" data-align="center">出发站</th>
                                    <th data-field="time1" data-align="center">到达时间</th>
                                    <th data-field="time2" data-align="center">出发时间</th>
                                    <th data-field="time3" data-align="center">经停时间</th>
                                    <th data-field="price" data-align="center">票价</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="loc1[]"></td>
                                    <td><input type="time" name="time1[]"></td>
                                    <td><input type="time" name="time2[]"></td>
                                    <td><input type="time" name="time3[]"></td>
                                    <td><input type="text" class="form-control" name="price[]"></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" id="trainButton" class="btn btn-md btn-primary my-2">添加行</button>
                    </div>
                </div>
                <div class="row">
                    <dic class="col">
                        <button type="submit" class="btn btn-md btn-primary btn-block">提交</button>
                    </dic>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}