<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akina</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block head %} {% endblock%}
</head>

<body>
    <header>
        <div class="navbar navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <strong>Akina</strong>
                </a>
            </div>
        </div>
    </header>
    {% block main %} {% endblock %}

</html>