{% extends "base.html" %}
{% block head %}
<link href="/static/css/index.css" rel="stylesheet">
<script src="/static/js/index.js"></script>
{% endblock %}
{% block main %}
<div class="container" id="main">
    <div class="row">
        <div class="col-4">
            <div class="form">
                <div class="form-group">
                    <input type="text" name="loc1" class="form-control" placeholder="From" id="loc1" required>
                    <label for="loc1">From</label>
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" placeholder="date" id="loc1" required>
                </div>
            </div>
        </div>
        <div class="col-4">
            <span class="oi oi-loop" onclick="swapLoc1Loc2()" aria-hidden="true" id="swapButton"></span>
        </div>
        <div class="col-4">
            <div class="form-group">
                <input type="text" name="loc2" class="form-control" placeholder="To" id="loc2" required>
                <label for="loc2">To</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}