<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akina</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
      });
    </script>
    <script src="/static/js/MathJax/MathJax.js"></script>

    <style type="text/css">
        {% if message %}
            {% for i in message %}
                #{{ i }} {
                    box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
                }
            {% endfor %}
        {% endif %}
    </style>
</head>

<body>
    <div id="cover" class="d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div id="login-box" class="col-4 px-0">
                    <div id="title-box" class="my-4">
                        <div class="row">
                            <div class="col">
                                <h1 id="title" class="text-center">Akina</h1>
                            </div>
                        </div>
                    </div>
                    
                    <div id="form-box" class="col py-4">
                
                        {% if show_flag %}
                    	<div id="message" class="text-center" style="color: {{ show_color }}">
                        	<p>{{ show_message }}</p>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs nav-fill justify-content-center mb-3">
                                    <li class="nav-item">
                                        <a class="nav-link {% if not flag %} active {% endif %}" data-toggle="tab" href="#login-form">登录</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if flag %} active {% endif %}" data-toggle="tab" href="#register-form">注册</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane {% if not flag %} active {% endif %}" id="login-form">
                                <form action="" method="POST">
                                    {{ csrf_input }}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" name="id" class="form-control" placeholder="User id"
                                                    id="inputId" required>
                                                <label for="inputId">User id</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control"
                                                    placeholder="Password" id="inputPassword" required>
                                                <label for="inputPassword">Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input name="type" value="登录" class="btn btn-lg btn-primary btn-block"
                                                type="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane {% if flag %} active {% endif %}" id="register-form">
                                <form action="" method="POST">
                                    {{ csrf_input }}
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control"
                                                    placeholder="Email address" id="inputEmailR" required>
                                                <label for="inputEmailR">Email address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control"
                                                    placeholder="Password" id="inputPasswordR" required>
                                                <label for="inputPasswordR">Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" name="username" class="form-control"
                                                    placeholder="Username" id="inputUsernameR" required>
                                                <label for="inputUsernameR">Username</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" name="phone" class="form-control" placeholder="Phone"
                                                    id="inputPhoneR" required>
                                                <label for="inputPhoneR">Phone</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                            	<p>{{ captcha_html }}</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="text" name="captcha" class="form-control" placeholder="🐓你太美="
                                                    id="inputCaptchaR" required>
                                                <label for="inputCaptchaR">🐓你太美=</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input name="type" value="注册" class="btn btn-lg btn-primary btn-block"
                                                type="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
