{% extends "base.html" %}
{% block head %}
<link href="/static/css/manage.css" rel="stylesheet">
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}{ 
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">
    {% if not querydone %}
    <div class="container">
        <div class="box-transparent py-4 px-4">
            <div class="row">
                <div class="col pb-4">
                    <a href="/addtrain/" style="color: white">
                        <button class="btn btn-lg btn-primary btn-block">添加车次</button>
                    </a>
                </div>
            </div>
            <form action="" method="POST">
                {{ csrf_input }}
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <input id="id" type="text" name="id" class="form-control" placeholder="Train id" id="inputId" required>
                            <label for="inputId">Train id</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input name="op" value="搜索车次" class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>
                    <div class="col-6">
                        <input name="op" value="发售车次" class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container" style="margin-top: 6rem">
        <div class="box-transparent py-4 px-4">
            <table id="trainTable" class="display table table-hover" data-toggle="table" data-data="{{ table }}" data-striped="true"
                data-pagination="true" data-side-pagination="client" data-mobile-responsive="true" data-show-columns="true" data-show-toggle="true" data-page-size=10>
                <thead>
                    <tr>
                        <th data-field="loc1" data-align="center">站名</th>
                        <th data-field="time1" data-align="center">到达时间</th>
                        <th data-field="time2" data-align="center">发车时间</th>
                        <th data-field="time3" data-align="center">停留时间</th>
                        <th data-field="price" data-align="center">价格</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock%}