{% extends "base.html" %}
{% block head %}
<link href="/static/css/person.css" rel="stylesheet">
<script src="/static/js/person.js"></script>
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}{ 
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">

<div class="container">
    <div class="box-transparent py-4 px-4">
        <div class="row">

        </div>
    </div>
</div>
{% endblock%}