{% extends "base.html" %}
{% block head %}
<link href="/static/css/person.css" rel="stylesheet">
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}{ 
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">
<style>
body {
    height: 100vh;
}
</style>
<div class="container">
    <div class="box-transparent py-4 px-4">
        <form action="" method="POST">
            {{ csrf_input }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control"
                            placeholder="Username" id="inputUsername" value="{{ uname }}">
                        <label for="inputUsername">Username</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control"
                            placeholder="Email address" id="inputEmail" value="{{ uemail }}">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Phone"
                            id="inputPhone" value="{{ uphone }}">
                        <label for="inputPhone">Phone</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="password" name="opassword" class="form-control"
                            placeholder="Old Password" id="inputOldPassword" required>
                        <label for="inputOldPassword">Old Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="password" name="npassword" class="form-control"
                            placeholder="New Password" id="inputNewPassword">
                        <label for="inputNewPassword">New Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input name="type" value="修改" class="btn btn-lg btn-primary btn-block"
                        type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock%}