<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akina</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/start.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center" id="cover">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>肝不要了的火车订票系统</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <a href="/train/" style="color: white">
                        <button class="btn btn-lg btn-primary btn-block">get start</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>