{% extends "base.html" %}
{% block head %}
<link href="/static/css/ticket.css" rel="stylesheet">
<script src="/static/js/ticket.js"></script>
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}{ 
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">
    <div class="container">
        <div class="box-transparent py-4 px-4">
            <form action="/train/" method="POST">
                {{ csrf_input }}
                <div class="row d-flex align-items-center">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="text" name="id" class="form-control" placeholder="User id" id="inputId" required>
                            <label for="inputId">User id</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="date" name="date" class="form-control" placeholder="date" id="date" required>
                        </div>
                    </div>
                    <div class="col-4">
                       <div class="form-group">
                            <select name="catalog" class="selectpicker" multiple data-actions-box="true" title="Choose train types" data-width="100%" id="catalog">
                                <option>C</option>
                                <option>D</option>
                                <option>G</option>
                                <option>K</option>
                                <option>O</option>
                                <option>T</option>
                                <option>Z</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input value="Search" class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}