{% extends "base.html" %}
{% block head %}
<link href="/static/css/train.css" rel="stylesheet">
<script src="/static/js/train.js"></script>
<style type="text/css">
    {% if message %}
        {% for i in message %}
            #{{ i }}
            {
                box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
            }
        {% endfor %}
    {% endif %}
</style>
{% if not querydone %}
<style type="text/css">
body {
    height: 100vh;
}
</style>
{% endif %}
{% endblock %}
{% block main %}
<div class="d-flex align-items-center" id="main">
    {% if not querydone %}
    <div class="container">
        <div class="box-transparent py-4 px-4">
            <form action="" method="POST">
                {{ csrf_input }}
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <input type="text" name="loc1" class="form-control" placeholder="From" id="loc1" required>
                            <label for="loc1">From</label>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <i class="fa fa-arrows-h fa-3x" onclick="swapLoc1Loc2()"></i>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <input type="text" name="loc2" class="form-control" placeholder="To" id="loc2" required>
                            <label for="loc2">To</label>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        {% if uid %}
                        <div class="custom-control custom-checkbox">
                            <input name="transfer" type="checkbox" class="custom-control-input" id="transfer">
                            <label class="custom-control-label" for="transfer"><b>Transfer</b></label>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <input type="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" name="date" class="form-control" placeholder="date" id="date" required>
                            <label for="date">date</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <select name="catalog" class="selectpicker" multiple data-actions-box="true" title="Choose train types" data-width="100%" id="catalog">
                                <option>C</option>
                                <option>D</option>
                                <option>G</option>
                                <option>K</option>
                                <option>O</option>
                                <option>T</option>
                                <option>Z</option>
                            </select>
                        </div>
                    </div>           
                </div>
                <div class="row">
                    <div class="col">
                        <input value="搜索车票" class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container" style="margin-top: 6rem">
        <div class="box-transparent py-4 px-4">
            <table id="trainTable" class="display table table-hover" data-toggle="table" data-data="{{ table }}" data-striped="true"
                data-pagination="true" data-side-pagination="client" data-mobile-responsive="true" data-show-columns="true" data-show-toggle="true" data-page-size=10>
                <thead>
                    <tr>
                        <th data-field="trainID" data-align="center">列车编号</th>
                        <th data-field="loc1" data-align="center">始发站</th>
                        <th data-field="date1" data-align="center">发车日期</th>
                        <th data-field="time1" data-align="center">发车时间</th>
                        <th data-field="loc2" data-align="center">终点站</th>
                        <th data-field="date2" data-align="center">到达日期</th>
                        <th data-field="time2" data-align="center">到达时间</th>
                        <th data-field="tleft" data-align="center">余票</th>
                        <th data-field="operation" data-align="center">操作</th>
                    </tr>
              </thead>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}